<html>
    <head>
        <title>Umbrellapp</title>
        <link rel="stylesheet" href="../css/search.css">
        <link rel="stylesheet" href="../css/menu.css">
        <link rel="icon" type="image/png" href="../icons/tab-icon.png">

         <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyBJHBGsNtq3mUtgTHHX-geKEJHVt3u8CVg&libraries=places"></script>
         <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous">
         </script>
    </head>
    <body>
        
        <section class="container">
            <header>
                <button class="cancel menu-but"></button>
                <div class="moto">
                    <p>Your</p>
                    <p>best</p>
                    <p>weather</p>
                    <p>app</p>
                </div>                
                
                <div class="decor">
                    <img src="../icons/minus.svg" alt="">
                </div>
                
                <menu>
                    <menuitem> <a href="">team</a> </menuitem>
                    <menuitem> <a href="">history</a> </menuitem>
                    <menuitem> <a href="">contact</a> </menuitem>
                </menu>
                <div class="bottom">
                    <p>suggest to a friend</p>
                    <footer>
                        <a href="http://www.facebook.com/share.php?u=[URL]&title=[TITLE]" target="_blank" id="fb" class="s-icons"></a>
                        <a href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]" target="_blank" id="twitter" class="s-icons"></a>
                        <a href="https://plus.google.com/share?url=[URL]" target="_blank" id="google" class="s-icons"></a>
                    </footer>
                </div>            
                

            </header> 
            <div class="top">
                <button class="menu menu-but"></button>
                <img src="../icons/umbrella.svg" alt="umbrella">
            </div>
            <div class="search">
                <p>type a location:</p>
                <div class="typeLocation">
                    <input type="text" name="typeLocation" value="type here.." id="search">
                    <button type="submit" id="submit"></button>
                </div>
                <p>or give us your lacation</p>                
                <button type="button" class="access">    
                    <img src="../icons/gps.svg" alt="gps">                
                    access location
                </button>
            </div>
        </section>
        <script src="../js/search.js"></script>
    </body>
</html>